/* 
Charte graphique

Couleurs :
#3F292B
#cc9e42
#DA6C89
#ADFFE8
#DCEDB9
#F6E5CB - background

fonts :
Cinzel - titres
Fauna One - contenu

*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&family=Fauna+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3F292B ;
    scroll-behavior: smooth;
    transition-duration: .3s;
}

body{
    padding: 75px 40px 0 40px;
    min-height: 100vh;
    background: #F6E5CB;
    font-family: "Fauna One", serif;
    font-size: 16px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Cinzel", serif;
}

nav{
    background: #cc9e42;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100vw;
    height: 75px;
    padding: 0 40px;
    display: flex;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}
nav a:hover{
    background-color: #ffffff22;
    border-radius: 3px;
}

header{
    margin-top: 20vh;
    min-height: 50vh;
}
header h1{
    font-size: 4em;
    width: 90vw;
    padding: 0 5vw 40px 5vw;
}
header h3{
    font-size: 2em;
    width: 90vw;
    padding: 0 5vw;
}


section{
    margin-top: 10vh;
    padding: 15vh 5vw 40px 5vw;
}
section h2{
    font-size: 2.5em;
    margin-bottom: 40px;
}
section p{
    line-height: 27px;
}
section article.flex-equal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}
section article.flex-equal:nth-child(2n+1){
    flex-direction: row-reverse;
}
section article.flex-equal >*{
    width: 40vw;
}
section article.flex-equal img{
    margin-bottom: 10px;
}
section article.flex-equal p {
    align-self: flex-start;
    padding-top: 10px;
}
article.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.personne{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    width: 200px;
    margin: 20px;
    background: #3F292B;
    box-shadow: 1px 3px 10px 1px #3F292B;
}
.personne img{
    width: 120px; height: 120px;
    border-radius: 100px;
}
.personne h3, .personne h4{
    font-family: "Fauna One", serif;
    color: #fff;
}
.personne h3{
    margin-top: 20px;
    margin-bottom: 5px;
}

.personne.fondateur{
    background: #127D5F;
    box-shadow: 1px 3px 10px 1px #127D5Faa;
}

.personne.superviseur{
    background: #8F0024;
    box-shadow: 1px 3px 10px 1px #8F0024aa;
}









footer{
    margin: -40px;
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    object-fit: cover;
    width: 100vw;
    height: auto;
}




div.diag-bg{
    width: calc(110vw + 300px);
    height: 110vh;
    background: #cc9e4288;
    transform: rotate(-15deg);
    margin-left: -300px;

    position: absolute;
    z-index: -1;
}
.bg-container .diag-bg:nth-child(3n-1){
    transform: rotate(15deg);
}
.diag-bg:nth-child(1){
    top: 110vh;
}
.diag-bg:nth-child(2){
    top: 300vh;
}
