/* 
Charte graphique

Couleurs :
    #3F292B
    #cc9e42 - hsl(40,68,80)
    #DA6C89
    #ADFFE8
    #DCEDB9
    #F6E5CB - background

    L'équipe:

    (    origin    : hsl(40,68%,80%)   not used

        green     : hsl(100,70%,20%)  culture
        blue      : hsl(190,70%,20%)  science
        dark blue : hsl(230,70%,20%)  government
        purple    : hsl(280,70%,20%)  independant projects

        pink      : hsl(320,70%,20%)  ...
        red       : hsl(350,70%,20%)  ...
    )
        gris      : #2D3A41


fonts :
    Cinzel - titres
    Fauna One - contenu

*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700;900&family=Fauna+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3F292B ;
    scroll-behavior: smooth;
    transition-duration: .3s;
}

body{
    padding: 75px 40px 0 40px;
    min-height: 100vh;
    background: #F6E5CB;
    font-family: "Fauna One", serif;
    font-size: 16px;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Cinzel", serif;
}
a:any-link{
    text-decoration: none;
}

nav{
    background: #cc9e42;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100vw;
    height: 75px;
    padding: 0 40px;
    display: flex;
}
nav a{
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}
nav a:hover{
    background-color: #ffffff22;
    border-radius: 3px;
}

header{
    margin-top: 20vh;
    min-height: 50vh;
}
header h1{
    font-size: 4em;
    width: 90vw;
    padding: 0 5vw 40px 5vw;
}
header h3{
    font-size: 2em;
    width: 90vw;
    padding: 0 5vw;
}


section{
    margin-top: 10vh;
    padding: 15vh 5vw 40px 5vw;
}
section h2{
    font-size: 2.5em;
    margin-bottom: 40px;
}
section p{
    line-height: 27px;
}
section article.flex-equal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
}
section article.flex-equal:nth-child(2n+1){
    flex-direction: row-reverse;
}
section article.flex-equal >*{
    width: 40vw;
}
section article.flex-equal img{
    margin-bottom: 10px;
    width: 35vw;
}
section article.flex-equal p {
    align-self: flex-start;
    padding-top: 10px;
    width: 45vw;
}

article.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 60px -20px 0 -20px;
}
.personne{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    width: 220px;
    height: 300px;
    text-align: center;
    margin: 20px;
    background: #2D3A41;
    box-shadow: 1px 3px 10px 1px #2D3A41;
}
.personne img{
    width: 120px; height: 120px;
    border-radius: 100px;
}
.personne h3, .personne h4{
    font-family: "Fauna One", serif;
    color: #fff;
}
.personne h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.personne h4{
    font-size: 0.9em;
}
.personne .description{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personne:hover{
    background: #464F52;
    box-shadow: 1px 3px 10px 4px #2D3A4188;
}

section article{
    margin: 50px 0;
}
section article h3{
    margin-bottom: 20px;
}

ul li{
    margin-left: 23px;
    list-style: circle outside;
    line-height: 25px;
}

section#contact .media{
    display: flex;
    flex-direction: column;
}
section#contact .media a{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
section#contact .media a p{
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 30px;
}
section#contact .media a:hover{
    text-decoration: underline solid #3F292B 2px;
}
section#contact .media a:hover img{
    filter: brightness(0);
}




footer{
    margin: -70vh -40px -40px -40px;
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    object-fit: cover;
    width: 105vw;
    height: auto;
}



div.diag-bg{
    width: calc(120vw + 350px);
    height: 120vh;
    background: #cc9e4288;
    transform: rotate(-20deg);
    margin-left: -350px;
    margin-top: 50px;
    position: absolute;
    z-index: -5;
}
.bg-container .diag-bg:nth-child(2n-1){
    transform: rotate(20deg);
}
.diag-bg:nth-child(1){
    top: 100vh;
}
.diag-bg:nth-child(2){
    top: 350vh;
}
.diag-bg:nth-child(3){
    top: 600vh;
}

/* To toggle the menu on small devices */
.burger-menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px; width: 60px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    fill: #3F292B;
    background-color: #cc9e42;
}
input{
    display: none;
}
@media screen and (min-width: 931px) {
    label{display: none;}
}

@media  screen and (max-width: 1090px) {
    section article.flex-equal{
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }
    section article.flex-equal:nth-child(2n+1){
        flex-direction: column;
    }
    section article.flex-equal p{
        width: 80vw;
    }
    section article.flex-equal img{
        width: 70vw;
        margin: 20px 0 0 0;
    }
}


@media screen and (max-width: 930px){
    /* nav{background-color: red;} */

    nav{
        justify-content: stretch;
        left: -540px;
        top: 0;
        width: 250px; max-width: 100vw;
        height: 100vh;
        padding: 80px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 7px;
    }
    nav a{
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 50px;
    }
    input[type=checkbox]:checked ~ nav{
        left: 0;
    }
    .personne{
        margin: 20px 15px;
    }
}

@media screen and (max-width: 900px) {
    .personne{
        margin: 30px 40px;
    }
}

@media screen and (max-width: 800px) {
    .personne{
        margin: 20px 0;
    }
    article.team{
        flex-direction: column;
        align-content: center;
    }
}
